{% extends "base.html" %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="{{ url_for('static', filename="js/gerencia.js") }}" defer></script>
{% endblock %}

{% block content %}
    <div class="row mb-3 mt-3">

        <div class="col-md-6" style="height: 500px">
            <h3>Productos más vendidos</h3>
            <form class="mb-3">
                <label class="form-label">De: <input class="form-control" name="fecha_inicio" type="date"></label>
                <label class="form-label">Hasta: <input class="form-control" name="fecha_final" type="date"></label>
                <button class="btn btn-primary"
                        id="btn-productos-fechas"
                        type="submit" data-url="{{ url_for('gerencia.productos_fechas') }}"
                >Buscar
                </button>
            </form>
            <div class="tabla-datos">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody id="tb-productos-fecha">
                    <!-- Productos en rango de fechas -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Ventas por Producto</h3>
            <div id="div-productos-venta" data-url="{{ url_for('gerencia.productos_ventas') }}">
                <canvas id="canva-productos-venta"></canvas>
            </div>
        </div>
    </div>

    <hr>
    <section id="section-productos-populares" style="height: 450px">
        <div class="row">
        <h3>Productos populares</h3>
        <table class="table table-bordered table-striped" style="overflow-y: auto;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody id="tb-productos-populares" data-url="{{ url_for('gerencia.productos_populares') }}">
            <!-- Productos Populares -->
            </tbody>
        </table>
    </div>
    </section>


{% endblock %}