{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
    <h2>Registrar producto</h2>
    <form action="/nuevo_producto" method="POST">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" name="nombre" placeholder="Nombre del producto">

        <label for="categoria">Categoria:</label>
        <select name="categoria">
            {% for cat in categorias %}
                <option value="{{ cat.id_categoria }}">{{ cat.nombre }}</option>
            {% endfor %}
        </select>

        <label for="precio">Precio:</label>
        <input type="number" name="precio" placeholder="Precio">

        <label for="existencia">Existencia:</label>
        <input type="number" name="existencia" placeholder="Cantidad en existencia">

        <button type="submit">Guardar</button>
    </form>

    <h2>Registrar categoria</h2>
    <form action="/nueva_categoria" method="POST">
        <input type="text" name="nombre" placeholder="Nombre de categoría">
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
