{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
    <a href="{{ url_for("categorias.categorias") }}">
        <button type="button">Ir a Categorias</button>
    </a>

    <h2>Registrar producto</h2>
    <form action="/agregar_producto" method="POST">

        <label for="nombre">
            Producto:
            <input type="text" name="nombre">
        </label>

        <label for="categoria">
            Categoria:
            <select name="categoria">
                {% for cat in categorias %}
                    <option value="{{ cat.id_categoria }}">{{ cat.nombre }}</option>
                {% endfor %}
            </select>
        </label>

        <label for="precio">
            Precio:
            <input type="number" name="precio">
        </label>

        <label for="inventariable">
            Inventariable:
            <input type="checkbox" name="inventariable">
        </label>

        <label for=" existencia">
            Existencia:
            <input type="number" name="existencia">
        </label>

        <button type="submit">Guardar</button>
    </form>

    <table>
        <thead>
        <th>ID</th>
        <th>Producto</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Existencia</th>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id_producto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    {% if producto.inventariable %}
                        {{ producto.existencia }}
                    {% else %} -
                    {% endif %}
                <td>
                    <a href="/editar_producto">Editar</a>
                    <a href="/eliminar_producto">Eliminar</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}