{% extends "base.html" %}

{% block title %} - Ventas{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/ventas_realizadas.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
        <div><h2>Historial de ventas</h2></div>
        <div>
            <button class="btn btn-secondary"
                    id="backbtn-realizar-venta"
                    data-url="{{ url_for('ventas.ventas') }}"
            >Realizar venta
            </button>
        </div>
    </div>

    <section id="seccion-ver-ventas" style="height: 450px">
        <div class="mb-3 mt-3">
            <label>
                Fecha de ventas:
                <input id="inp-fecha-ventas" type="date">
            </label>

            <button class="btn btn-primary"
                    id="btn-obtener-ventas"
                    data-url="{{ url_for('ventas_realizadas.ventas_realizadas') }}"
            >Consultar
            </button>

        </div>
        <div class="tabla-datos">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Empleado</th>
                    <th>Monto</th>
                </tr>
                </thead>
                <tbody id="tb-registros-venta">
                <!-- Registros de venta-->
                </tbody>
            </table>
        </div>

    </section>

    <hr>

    <section id="seccion-detalles-ventas" style="height: 300px">
        <h3>Detalles de venta</h3>
        <div class="tabla-datos">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                </tr>
                </thead>
                <tbody id="tb-detalles-ventas" data-url="{{ url_for('ventas_realizadas.ventas_detalles') }}">
                <!-- Detalles de venta-->
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}